DATABASE_URL=postgresql://postgres:LFRLsUqLoGomsdg5@db.ddipuzqjkzberrcgaxnj.supabase.co:5432/postgres
DATABASE_PASSWORD=LFRLsUqLoGomsdg5
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=MsUtHKRdS97pf3zrviyNcFYtKoiKx2nkIvFLnNn8Rs8=
GOOGLE_CLIENT_ID=270229709392-np103ruouhpcu3dprc8ccufq72d2rdf8.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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our-supabase-anon-key"